<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="cil-list-numbered"></i>
      Lista de Planos
    </div>
    <div class="card-body">
      <table id="datatablePlanos" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>Descricao</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Data</th>
            <th>Acoes</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

