<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix mb-4">
          <h1 class="float-left display-1 mr-4">404</h1>
          <h3 class="pt-3">Opa! Página não encontrada.</h3>
          <p class="text-muted">A página não pode ser encontrada ou ainda está em desenvolvimento.</p>
        </div>
        <div class="input-prepend input-group">
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            type="button"
            aria-pressed="true"
            class="btn btn-block btn-info active btn-lg"
            >Início</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
